body {
    color: #333;
    font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    border: 1px solid #DDD;
    padding: 1em;
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

#container h1 {
    font-size: 20px;
}